run = "npm run dev"
entrypoint = "main.js"

hidden = [".config", ".gitignore"]
modules = ["nodejs-22"]

[nix]
channel = "stable-24_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3000

[[ports]]
localPort = 5175
externalPort = 3001

[[ports]]
localPort = 5176
externalPort = 3002

[[ports]]
localPort = 5177
externalPort = 3003

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 37802529
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
